<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pk.countriescatalog">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.activity.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.activity.RegionActivity"
            android:parentActivityName=".UI.activity.SelectionActivity"
            android:label="Regions"/>
        <activity android:name=".UI.activity.SubRegionActivity"
            android:parentActivityName=".UI.activity.SelectionActivity"
            android:label="Sub regions"/>
        <activity android:name=".UI.activity.CountryActivity"
            android:parentActivityName=".UI.activity.SelectionActivity"
            android:label="Countries">
        </activity>
    </application>

</manifest>